body {
	font-family: serif;
	-moz-hyphens: auto;
	font-size: 110%;
	margin-left: auto;
	margin-right: auto;
	max-width: 30em;
	text-align: justify
}

h1 {
/*	font-variant: small-caps*/
}

h1 {
	font-size: 300%;
	text-align: center
}

h2 {
    font-size: 140%;
	text-align: left
}

h3 {
	text-align: left
    
}

blockquote {
	-moz-hyphens: none;
	text-align: left
}

code {
	font-family: mono
}

em {
	background: #2F4C4A;
	border: 20px solid #2F4C4A;
	float: left;
	font-style: normal;
/*	line-height: 1.25em;*/
/*	margin-bottom: 10px;*/
	margin-left: 5px;
	margin-right: 5px;
/*	margin-top: -7px*/
}

dt {
	font-size: 100%;
	font-weight: 700
}

body {
    color: #B5CA8D;
    background-color: #426B69;
    background-image: url("topography.png");
    background-blend-mode: color-burn;
	background-repeat: repeat;
}

h1 {
	text-shadow: 3px 2px #1235;
}
h2{
    margin-top: 0
}
h3{
    margin-bottom: 0
}
p{
    color: white;
    text-align: justify
    
}
hr{
    color: #8BB174
}
a:link {
  color: #C9D8AB;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: #B7CC8F;
  background-color: transparent;
  text-decoration: underline;
}